# set modifier
set $super Mod4
set $alt Mod1

# don't follow mouse
focus_follows_mouse no

# set font
font pango:Input Sans 10

# Use Mouse+$super to drag floating windows to their wanted position
floating_modifier $super

#autostart
exec --no-startup-id xfsettingsd 
exec --no-startup-id numlockx on
exec --no-startup-id nm-applet 
exec --no-startup-id pasystray
exec --no-startup-id xfce4-power-manager 
exec --no-startup-id feh --bg-fill ~/Dropbox/images/01_Beznau_l_4866.png

# start a terminal
bindsym $super+Return exec gnome-terminal

# start rofi (a dmenu program launcher)
bindsym $super+Shift+d exec rofi -modi window -show window
bindsym $super+d exec rofi -modi drun -show drun

# screenshot
bindsym $super+Print exec /usr/bin/gnome-screenshot --interactive

# common apps keybinds
bindsym $super+l exec i3lock -i ~/Dropbox/images/01_Beznau_l_4866.png

#change volume
bindsym XF86AudioRaiseVolume exec --no-startup-id ~/bin/volume.sh up
bindsym XF86AudioLowerVolume exec --no-startup-id ~/bin/volume.sh down
bindsym XF86AudioMute exec --no-startup-id ~/bin/volume.sh mute

# music control
bindsym XF86AudioNext exec mpc next
bindsym XF86AudioPrev exec mpc prev
bindsym XF86AudioPlay exec mpc toggle
bindsym XF86AudioStop exec mpc stop

# kill focused window
bindsym $super+Shift+q kill
bindsym $alt+F4 kill

# change focus
bindsym $super+Left focus left
bindsym $super+Down focus down
bindsym $super+Up focus up
bindsym $super+Right focus right

# move focused window
bindsym $super+Shift+Left move left
bindsym $super+Shift+Down move down
bindsym $super+Shift+Up move up
bindsym $super+Shift+Right move right

# split in horizontal orientation
bindsym $super+h split h

# split in vertical orientation
bindsym $super+v split v

# toggle tabbed layout
bindsym $super+w layout tabbed

# enter fullscreen mode for the focused container
bindsym $super+f fullscreen toggle

# change container layout split to horiz/vert
bindsym $super+s layout toggle split

# toggle tiling / floating
bindsym $super+space floating toggle

# change focus between tiling / floating windows
bindsym $super+Shift+space focus mode_toggle

# calendar popup
bindsym $super+c exec wmctrl -F -c "Calendar" || zenity --title Calendar --calendar

# Enter resize mode
bindsym $super+r mode "resize"

# # Resizing by 1
bindsym $super+Ctrl+Right resize shrink width 1 px or 1 ppt
bindsym $super+Ctrl+Up resize grow height 1 px or 1 ppt
bindsym $super+Ctrl+Down resize shrink height 1 px or 1 ppt
bindsym $super+Ctrl+Left resize grow width 1 px or 1 ppt

# # Resizing b 5
bindsym $super+Ctrl+Shift+Right resize shrink width 5 px or 5 ppt
bindsym $super+Ctrl+Shift+Up resize grow height 5 px or 5 ppt
bindsym $super+Ctrl+Shift+Down resize shrink height 5 px or 5 ppt
bindsym $super+Ctrl+Shift+Left resize grow width 5 px or 5 ppt

# switch to workspace
bindsym $alt+Control+Right workspace next
bindsym $alt+Control+Left workspace prev
bindsym $super+1 workspace 1
bindsym $super+2 workspace 2
bindsym $super+3 workspace 3
bindsym $super+4 workspace 4
bindsym $super+5 workspace 5
bindsym $super+6 workspace 6

# move focused container to workspace
bindsym $super+Shift+1 move container to workspace 1
bindsym $super+Shift+2 move container to workspace 2
bindsym $super+Shift+3 move container to workspace 3
bindsym $super+Shift+4 move container to workspace 4
bindsym $super+Shift+5 move container to workspace 5
bindsym $super+Shift+6 move container to workspace 6

# disable mouse wheel scroll for things like window tabs
bindsym button4 nop
bindsym button5 nop

# move focused workspace between monitors
bindsym $super+Ctrl+greater move workspace to output up
bindsym $super+Ctrl+less move workspace to output down

# reload the configuration file
bindsym $super+Shift+c reload
# restart i3 inplace (preserves your layout/session, can be used to upgrade i3)
bindsym $super+Shift+r restart
# exit i3 (logs you out of your X session)
bindsym $super+Shift+e exec "i3-nagbar -t warning -m 'You pressed the exit shortcut. Do you really want to exit i3? This will end your X session.' -B 'Yes, exit i3' 'i3-msg exit'"

bar {
    status_command i3status
    position top
    output DP-2
    mode dock
}

# panel
#bar {
#  id bar-1
#  colors {
#    background  #111111
#    statusline #cccccc
#    separator #ffff00
#  }
#  mode dock
#  status_command i3status
##  tray_output primary
#  position top
#  tray_padding 0
#  output primary
#}

# window rules, you can find the window class using xprop
for_window [class=".*"] border pixel 4

